html, body {
    margin: 0;
    background-color: #c0d0e9;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./img/gif.gif);
    background-repeat: no-repeat;
    background-size: cover;

}

.main-container {
    height: 100dvh;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.top, .middle, .bottom {
    width: 60%;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1em solid #ffffff;
    border-radius: 10px;
    box-sizing: border-box;
}

nav {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 40%;
    gap: 1em;
}

.slot {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.middle, .bottom {
    justify-content: space-between;
}

.middle {
    overflow: auto;
}

.slot h4 {
    margin: 0;
}

.slot p {
    margin: 0;
}

.degree h4 {
    font-size: xx-large;
}

.degree p {
    color: #757575;
}

.slot span {
    color: #dddddd;
}

.slot small {
    color: #dddddd;
}

.search {
    width: 100%;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding-left: 10px;
    box-sizing: border-box;
    padding: 5px;
}

.search-icon {
    background-color: white;
    border-radius: 50%;
    border: 1px solid white;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}